@media (min-width: 320px) and (max-width: 767px) {
  .hamburger-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: white;
    z-index: 15;
  }

  .hamburger-is-open {
    display: flex;
  }

  .top-line {
    align-items: center;
    height: 56px;
  }

  .nav-list {
    display: none;
  }
  address {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .main-header {
    height: 432px;
    margin-bottom: 143px;
  }

  .header-bg {
    background-position: center center;
  }

  .header1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    width: 100%;
    top: 128px;
    left: 0;
    text-align: center;
    padding: 0 52px;
  }

  .button1 {
    position: relative;
    top: 160px;
    left: 0;
    margin: 0 auto;
  }

  .feature-icon {
    display: none;
  }

  .feature-list { 
    flex-direction: column;
    gap: 72px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
  }

  .feature-list .header3 {
    display: flex;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    padding-left: 16px;
    justify-content: center;
  }

  .feature-list .text {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
  }

  .team-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

  .team-section .container {
    margin-top: 
    }

  .team-list { 
    flex-direction: column;
    align-items: center;
  }

  .portfolio {
  padding-top: 96px;
  padding-bottom: 0;
  margin-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .portfolio-list img {
    max-width: 288px;
  }

  .footer-child1 {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding-top: 96px;
  }

 .footer-child2 {
    display: flex;
    margin-left: 0;
    margin-top: 32px;
    padding-top: 72px;
    align-items: center;
  }

  .footer-button-container {
    padding: 0;
  }

   .footer-child3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 72px;
    align-items: center;
  }
}