@media (min-width: 320px) and (max-width: 767px) {
  .hamburger-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: white;
    z-index: 15;
  }

  .hamburger-is-open {
    display: flex;
  }

  .hamburger-manu-list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-right: 153px;
    padding-left: 16px;
    gap: 40px;
  }

  .hamburger-close-container {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid #0000001a;
  }

  .hamburger-close-icon {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 2px;
    fill: #2e2f42;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-close-icon:hover {
    background-color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-close-container:hover .hamburger-close-icon {
    fill: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-decoration: none;
    color: #2e2f42;
  }

  .hamburger-nav-link:hover,
  .hamburger-nav-linkfocus {
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 168px;
    padding-right: 111px;
    padding-left: 16px;
  }

  .hamburger-menu-contacts-item {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
  }

  .hamburger-menu-contacts-item:hover,
  .hamburger-menu-contacts-item:focus {
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-social-links {
    display: flex;
    justify-content: center;
    height: 40px;
    gap: 48px;
    margin-top: 48px;
  }

  .hamburger-social-links .social-link {
    display: flex;
    width: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .social-icon {
    width: 24px;
    height: 24px;
    margin: auto;
  }

  .hamburger-social-links .social-link:hover {
    background-color: #31d0aa;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .top-line {
    position: relative;
    align-items: center;
    height: 56px;
  }

  .hamburger-menu-icon-container {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
  }

  .hamburger-close-icon {
    position: absolute;
    width: 16.8;
    height: 14.4;
    top: 4.8px;
    left: 3.6px;
    fill: #2f2f37;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2e2f4266;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }

  .is-open {
    display: flex;
  }

  .modal-content {
    max-width: 288px;
    border-radius: 4px;
    background-color: #fcfcfc;
    z-index: 11;
    box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-form-input-container {
    display: flex;
    justify-content: center;
  }

  .modal-content-head {
    display: flex;
    flex-wrap: wrap;
    max-width: 256px;
    text-align: center;
    padding-top: 24px;
    padding-left: 16px;
  }

  .close-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 56px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
}

  .modal-form-input {
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    width: 256px;
    height: 40px;
    outline: none;
  }

  .modal-form-textarea {
    padding-top: 8px;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    width: 256px;
    height: 120px;
    outline: none;
  }

  .modal-form-textarea-container {
    display: flex;
    justify-content: center;
  }

  .modal-form-checkbox-wrapper {
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f4266;
    border-radius: 2px;
    display: flex;
    justify-content: center;
  }

  .modal-form-terms {
    max-width: 256px;
  }

  .modal-form-button {
    max-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4d5ae5;
  }

  .modal-form-button-container {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    justify-content: center;
  }

  .nav-list {
    display: none;
  }

  address {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .main-header {
    height: 432px;
    margin-bottom: 143px;
  }

  .header-bg {
    background-position: center center;
  }

  .header1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    width: 100%;
    top: 128px;
    left: 0;
    text-align: center;
    padding: 0 52px;
  }

  .button1 {
    position: relative;
    top: 160px;
    left: 0;
    margin: 0 auto;
  }

  .feature-icon {
    display: none;
  }

  .feature-list {
    flex-direction: column;
    gap: 72px;
    margin-top: 100px;
  }

  .feature-list .header3 {
    display: flex;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    justify-content: center;
  }

  .feature-list .text {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    padding-left: 16px;
    color: #434455;
    align-items: center;
    justify-content: center;
  }

  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-section .container {
    margin-top: ;
  }

  .team-list {
    flex-direction: column;
    align-items: center;
  }

  .portfolio {
    padding-top: 96px;
    padding-bottom: 0;
    margin-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .portfolio-list img {
    max-width: 288px;
  }

  .footer-child1 {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding-top: 96px;
  }

  .footer-child2 {
    display: flex;
    margin-left: 0;
    margin-top: 32px;
    padding-top: 72px;
    align-items: center;
  }

  .footer-button-container {
    padding: 0;
  }

  .footer-child3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 72px;
    align-items: center;
  }
}
