@media (min-width: 768px) and (max-width: 1157px) {
  .hamburger-menu {
    display: none;
  }

  .modal-content {
    margin-top: 140px;
  }

  .container {
    padding: 0 32px;
  }

  /* Top Line */
  .top-line {
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  .head-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .nav-list {
    margin-left: 0;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
    width: 100%;
  }

  address {
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
  }

  /* Header */
  .main-header .container {
    height: 436px;
    margin-top: -188px;
  }

  .header-bg {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header1 {
    font-size: 40px;
    line-height: 1.1;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 0 16px;
  }

  .button1 {
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Features */
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .feature-icon {
    display: none;
  }

  .feature-list li {
    text-align: left;
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  /* Team */
  .team-icon {
    margin-left: auto;
    margin-right: auto;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list li {
    width: calc((100% - 24px) / 2);
    max-width: 100%;
    max-width: 264px;
  }

  /* Portfolio */
  .portfolio-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    max-width: 360px;
  }

  /* Footer */
  .footer-container {
    padding: 0;
    margin: 0;
  }
  .footer-container .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 496px;
    height: 456px;
  }
  .footer-child1 {
    position: absolute;
    margin-top: -235px;
    margin-left: -245px;
  }

  .footer-child2 {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-left: 288px;
    margin-top: -180px;
  }

  .footer-child3 {
    margin: 0;
    margin-left: -40px;
    padding-top: 180px;
  }
}
